
  .conteudo{
    display: flex;
    flex-direction: row;
  }
  
  .imagem1{
    width:330px;
    height: auto;
  }

  .image-side{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 450px !important;
  }

  .imagem2{
    width:150px;
    height: auto;
    /* margin-top: -20px; */
  }
  
  .btn-modal{
    position: absolute;
    bottom: 30px;
    left: 70px;
  }

  .image-side{
    margin-right: 15px;
  }
  
  .text-side{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .topo{
    display: flex;
    justify-content: space-between;
  }
  
  .name{
    font-family: "OpenSans-Bold";
    color: #20396f;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .fechar{
    width:15px;
    margin:0 !important;
  }
  
  .btn-fechar{
    height: 50px;
    width: 25px;
    border: none;
    background-color: transparent;
    position: absolute;
    right: 10px;
    /* margin-left: 60px; */
  }
  
  .texto{
    font-family: "OpenSans-Regular";
    font-size: 0.9rem ;
  }
  
  .title{
    font-family: "OpenSans-Bold";
    color: #20396f;
    font-size: 1.2rem;
  }

  #texto2{
    margin-bottom: 30px;
  }

  @media only screen and (max-width: 600px) {

    .conteudo{
      flex-direction: column;
    }
    .btn-modal{
      left: 100px;
    }

    #texto2{
      padding-bottom: 80px;
    }

    .text-side{
      padding-top: 30px;
    }
    
    .imagem2{
      width: 40%;
      /* width: 120px; */
   }

   .image-side{
     height: 150px !important;
     padding-top: 260px;
     padding-bottom: 150px;
   }
  
  }