
  .conteudo{
    display: flex;
    flex-direction: row;
  }

  .image-side{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .foto{
    width:100%;
    height: auto;
  }

  .foto2{
    width:100%;
    height: auto;
    z-index: 2;
    margin-top: -60px;
  }
  
  .btn-modal{
    position: absolute;
    bottom: 30px;
    left: 70px;
  }
  
  .text-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .topo{
    display: flex;
    justify-content: space-between;
  }
  
  .tituloTopo{
    font-family: "OpenSans-Bold";
    color: #ff7313;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .fechar{
    width:15px;
    margin:0 !important;
  }
  
  .btn-fechar{
    height: 0px;
    width: 25px;
    border: none;
    background-color: transparent;
    position: absolute;
    right: 10px;
    z-index: 3;
    /* margin-left: 60px; */
  }
  
  .textoModal{
    font-family: "OpenSans-Regular";
    font-size: 0.9rem;
    z-index: 3;
  }
  
  .tituloModal{
    font-family: "OpenSans-Bold";
    color: #ff7313;
    font-size: 1.2rem;
    z-index:3;
  }

  .modal-body{
    padding: 0;
  }

  @media only screen and (max-width: 600px) {
    .conteudo{
      flex-direction: column;
    }
    .btn-modal{
      left: 100px;
    }

    #texto2{
      padding-bottom: 80px;
    }

    .text-side{
      padding-top: 30px;
    }

    .tituloTopo{
      font-size: 1.6rem;
      font-weight: bold;
    }
    
   .image-side{
      height: 150px !important;
      padding-top: 260px;
      padding-bottom: 150px;
    }
  }

 
  